*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: 37.5em) { @content }; // 600px 
    }
    
    @if $breakpoint == tab-port {
        @media (max-width: 56.25em ) { @content }; // 900px
    }
    
    @if $breakpoint == tab-land {
        @media (max-width: 75em ) { @content }; // 1200px
    }
    
    @if $breakpoint == big-desktop {
        @media (min-width: 112.5em) { @content }; // 1800px
    }
}

html {
    box-sizing: inherit;
    font-size: 62.5%;

    @include respond(phone) { // width < 1200?
        font-size: 56.15%; //1 rem = 9px, 9/16 = 50%
    }
    
    @include respond(tab-port) { // width < 900?
        font-size: 50%; //1 rem = 8px, 8/16 = 50%
    }
    
    @include respond(big-desktop) {
        font-size: 75%; //1rem = 12, 12/16
    }
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
}


.main {
    width: 60%;
    margin: 7rem auto;
    border-radius: 12px;
    box-shadow: rgba(7, 29, 63, 0.125) 0px 4px 16px 0px;
    @include respond(tab-port) { // width < 900?
        width: 85%;
    }

    @include respond(phone) { // width < 900?
        width: 95%;
    }
}

.groupList {
    padding: 4rem;
    position: relative;
    > .btn {
        margin: 3rem 0;
        font-size: 1.7rem;
    }
}

.group {
    width: 100%;
    border-bottom: 1px solid #eee;
    padding-bottom: 3rem;
    
    &:not(:first-of-type) { 
        margin-top: 4rem;
    }
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;
        
        .remove {
            color: #4A5B7D;
            border: 1px solid #4A5B7D;
        }
    }
    
    &__items {
        list-style-type: none;
    }
    
    &__partial {
        display: inline-block;
        margin-top: 3rem;
        margin-right: 3rem;
        div {
            margin-left: .2rem;
            font-weight: bold;
            display: inline-block;
        }
        
    }
}

.item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);


    @include respond(phone) { // width < 900?
        grid-template-columns: 15rem 8rem 11rem 1fr;
    }
    // @include respond(tab-port) { // width < 900?
    //     grid-template-columns: 1fr 1fr; //1 rem = 8px, 8/16 = 50%
    // }

    &__name,
    &__select,
    &__value {
        padding: .5rem 1rem;
        border: none;
        border: 1px solid #eee;
        border-bottom: none;
    }
    
    &:first-of-type {
        
        input {
            &:first-of-type {
                border-top-left-radius: 7px;
            }
            
            &:last-of-type {
                border-top-right-radius: 7px;
            }
        }
    }
    
    &:last-of-type {
        
        input {
            &:first-of-type { 
                border-bottom-left-radius: 7px;
            }
            
            &:last-of-type {
                border-bottom-right-radius: 7px;
            }
            
            border-bottom: 1px solid #eee;
        }   
        
        & select {
            border-bottom: 1px solid #eee;
        }
        
    }
    
    
    
    
    &__select,
    &__value { border-left: none; }
    
    button {
        align-self: center;
    }
    
}

.hover ~ ul li button {
    color: rgb(248, 46, 46);
    border: 1px solid rgb(248, 46, 46);
}

.remove {
    background: none;
    border: 1px solid rgb(194, 194, 194);
    color: rgb(194, 194, 194);
    border-radius: 100%;
    cursor: pointer;
    margin-left: auto;
    width: 3rem;
    height: 3rem;
    i {
        pointer-events: none;
    }
    
    &:focus {
        outline: none;
    }
    
    &:hover {
        color: rgb(248, 46, 46);
        border: 1px solid rgb(248, 46, 46);
    }
}

.btn {
    padding: 1rem 1.7rem;
    background: none;
    border: none;
    border: 1px solid rgb(0, 153, 255);
    color: rgb(0, 153, 255);
    border-radius: 200px;
    cursor: pointer;
    transition: transform .1s;
    &:focus {
        outline: none;
    }
    &:hover {
        transform: translateX(-4px);
    }

    i {
        margin-right: 10px;
        pointer-events: none;
    }
}

.totals {
    width: 180px;
    background: #fff;
    box-shadow: rgba(7, 29, 63, 0.125) 0px 4px 16px 0px;
    height: 180px;

    @include respond(tab-port) { // width < 900?
        width: 130px;
        height: 130px;
    }
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    right: 3%;
    bottom: 3%;
    &__value { font-size: 3.4rem;}
    &__label {
        font-size: 1.4rem;
    }
}

.semi-donut {
    width: 170px;
    @include respond(tab-port) { // width < 900?
        width: 123px;
    }
    height: 50%;
    position: absolute;
    top: 1%;
    overflow: hidden;
    --percentage: 0;
    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 6%;
        width: 170px;
        height: 170px;

        @include respond(tab-port) { // width < 900?
            width: 123px;
            height: 123px;
        }
        border: 14px solid;
        border-color: #eee #eee #30CFB3 #30CFB3;
        border-radius: 50%;
        transform: rotate( calc( 1deg * ( -45 + var(--percentage) * 1.8 ) ) );
    }
}
